body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header {
    background: #d10000;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.header .small-text {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-details {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.contact-details img {
    width: 30px;
}
.contact-details h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.section-title {
    background: #d10000;
    color: white;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}

.photo-box {
    border: 1px solid #000;
    width: 120px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 14px;
    color: #666;
    float: right;
    margin-bottom: 10px;
}

.upload-box {
    width: 140px;
    height: 180px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
}

.upload-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.form-label {
    font-weight: bold;
}

.form-control,
.form-select {
    border-radius: 5px;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.footer {
    text-align: right;
    font-weight: bold;
    margin-top: 20px;
}

.footer .note {
    text-align: left;
    margin-bottom: 3rem;
}

.parent-consent input {
    border: none;
    border-radius: 0px;
    outline: none;
    border-bottom: 1px dotted black;
}
.parent-consent select {
    /* border:none; */
    border-radius: 5px;
    outline: none;
    padding: 2px 5px;
}

.general-info-heading {
    font-size: 20px;
    font-weight: 700;
}

.details-of-last-exam {
    border: 2px solid #dee2e6;
    border-radius: 10px;
}

@media (max-width: 991px) {
    .header img {
        height: 70px;
        width: 70px;
    }
}
/* @media (max-width: 700px) and (min-width:445){
    .section-1{
        background-color: orange !important;
    }
} */

@media (max-width: 700px) {
    .contact-details{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 555px) {
    .container {
        overflow-x: hidden !important;
    }
}
